{% load product_extras %}

<div class="row mt-2">
  <div class="col-2" style="margin-left: 50px;">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="Imagen del producto" width="120" height="120">
    {% endif %}
  </div>
  <div class="col" style="margin-left: -50px; margin-top: 20px;">
    <div class="row" >
      <strong>
        <a href="{% url 'core:producto' product.slug %}">{{ product.name }}</a>
      </strong>
    </div>
    <div class="row">
      <strong class="text-danger">{{ product.costp | price_format }}</strong>
    </div>
  </div>
</div>