{% extends 'base.html'%}

{% block content %}
<div class="content">
    <div class="orders">
        <div class="row col-11 ml-3">
            <div>
                <form method="post">
                    {% csrf_token %}
                    <div class="h4">
                        ¿Estas seguro de eliminar la dirección?
                    </div>
                    <input type="submit" class="btn btn-danger" value="Eliminar">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}