{% extends 'base.html' %}

{% block breadcrum %}
 {% include 'orders/snippets/breadcrum.html' %}
{% endblock %}

{% block content %}
 <div class="col">
    <div class="h3">
        Seleccione su Dirección de envío
    </div>
    <div class="mt-2">
        {% for shipping_address in shipping_addresses %}
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title"> {{shipping_address.address}} </h5>
                <p class="card-title"> {{shipping_address.postal_code}} </p>
                <a href="" class="btn btn-warning">
                    Seleccionar dirección
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
 </div>
{% endblock %}
