{% extends 'base.html' %}
{% block content %}
<title>Compras</title>
<div class="content">
    <div class="orders">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex">
                    <div class="col-lg-5 col-xl-12">
                        <div class="card bg-flat-color-0">
                            <div class="card-body">
                                <div class="chart-container ov-h">
                                    <form class="f1 col-md-12">
                                        <h2>Registro De Datos</h2>
                                        <br>
                                        <div class="form">
                                            <input type="text" name="txtCanent" id="txtCanent" maxlength="8"
                                                pattern="[0-9]{0,8}"
                                                title="Solo puedes digitar maximo 8 numeros para la cantidad de la entrada de un Inventario"
                                                required>
                                            <label class="lbl" for="txtCanent">
                                                <span class="txt">Cantidad Entrada</span>
                                            </label>
                                        </div>
                                        <br>
                                        <div class="selected">
                                            <div class="form-group">
                                                <label class="lb" for="dtentrada">Fecha de entrada</label>
                                                <input class="form-control" type="date" name="dtentrada" id="dtentrada"
                                                    title="solo puedes digitar la fecha de una entrada" required>
                                            </div>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="txtFKprod" id="txtFKprod" maxlength="3"
                                                pattern="[0-9]{0,3}"
                                                title="Solo puedes digitar maximo 3 numeros para el producto" required>
                                            <label class="lbl">
                                                <span class="txt">Producto</span>
                                            </label>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="txtPrent" id="txtPrent" maxlength="10"
                                                pattern="[0-9]{0,10}"
                                                title="Solo puedes digitar maximo 10 numeros para el precio de una entrada(Compra)"
                                                required>
                                            <label class="lbl">
                                                <span class="txt">Productos Que Entran</span>
                                            </label>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="txtPrent" id="txtPrent" maxlength="10"
                                                pattern="[0-9]{0,10}"
                                                title="Solo puedes digitar maximo 10 numeros para el precio de una entrada(Compra)"
                                                required>
                                            <label class="lbl">
                                                <span class="txt">Precio Producto Ingresado</span>
                                            </label>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="txtgrupent" id="txtgrupent" maxlength="12"
                                                pattern="[0-9]{0,10}"
                                                title="Solo puedes digitar maximo 12 numeros para el precio de una entrada de un grupo de productos (Compra)"
                                                required>
                                            <label class="lbl">
                                                <span class="txt">Precio Grupo Que Entran</span>
                                            </label>
                                        </div>
                                        <br>
                                        <div class="selected">
                                            <div class="form-group">
                                                <label for="lb">Estado</label>
                                                <select name="estado" id="estado" class="sel form-control" required>
                                                    <option value="" selected>Seleccione</option>
                                                    <option value="1">Activo</option>
                                                    <option value="2">Inactivo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div id="button" class="selected">
                                            <a href="#" type="button" class="btn btn-success">Insertar</a>
                                            <a href="#" type="button" class="btn btn-primary">Consultar</a>
                                            <a href="#" type="button" class="btn btn-warning">Modificar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}