{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<title>Domicilios</title>
<div class="content">
    <div class="orders">
        <div class="row">
            <div class="card-body">
                <h1>Gestión Domicilio</h1>

                
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Dirección</th>
                                    <th>Precio</th>
                                    <th>Repartidor</th>
                                    <th>Id pedido</th>
                                    <th>Id usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in dom %}
                                    <tr>
                                        <td>{{e.direction}}</td>
                                        <td>{{e.price}}</td>
                                        <td>{{e.deliver}}</td>
                                        <td>{{e.idpedidoFK}}</td>
                                        <td>{{e.user}}</td>
                                       
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                    
                </div>

            </div>
            
        </div>
    </div>
</div>

{% endblock %}