{% extends 'base.html' %}
{% block content %}
<title>Inventario</title>
<div class="content">
    <div class="orders">
        <div class="row">
            <div class="card-body">
                <form action="/Ent_Inventario" class="f1 col-md-12">
                    {{form}}

                    <div id="button" class="selected">
                        <a href="#" type="button" class="btn btn-success">Insertar</a>
                        <a href="#" type="button" class="btn btn-primary">Consultar</a>
                        <a href="#" type="button" class="btn btn-warning">Modificar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}