{% extends 'base.html' %}
{% block content %}
<title>Estado</title>
<div class="content">
    <div class="orders">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex">
                    <div class="col-lg-5 col-xl-12">
                        <div class="card bg-flat-color-0">
                            <div class="card-body">
                                <div class="chart-container ov-h">
                                    <form class="f1 col-md-12">
                                        <h2>Registro De Datos</h2>
                                        <br>
                                        <div class="form">
                                            <input type="text" name="txtNombrest" id="txtNombrest" maxlength="20"
                                                pattern="[A-Za-z0-9\s]{0,20}"
                                                title="Solo puedes digitar maximo 20 letras para el nombre del estado"
                                                required>
                                            <label class="lbl" for="txtCanent">
                                                <span class="txt">Nombre</span>
                                            </label>
                                        </div>
                                        <br>
                                        <div id="button" class="selected">
                                            <a href="#" type="button" class="btn btn-success">Insertar</a>
                                            <a href="#" type="button" class="btn btn-primary">Consultar</a>
                                            <a href="#" type="button" class="btn btn-warning">Modificar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}