{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Proveedor</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/2023175fdf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="{% static 'images/DatStorenigga.png' %}">
    <link rel="shortcut icon" href="{% static 'images/DatStorenigga.png' %}">
    <link rel="stylesheet" href="{% static 'css/stylelables.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }

        .menu-icon {
            color: black;
        }

        .p1 {
            color: #ffffff;
        }

        .orders {
            justify-content: center;
        }
    </style>
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <!--INDEX/INICIO-->
                        <a href="index.html"><i class="menu-icon fa-solid fa-users-viewfinder"></i>Inicio</a>
                    </li>
                    <!--MENU PARTE2-->
                    <li class="menu-title">Productos</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="TLacteos.html" aria-haspopup="true" aria-expanded="false"><i
                                class="menu-icon fa-solid fa-jug-detergent"></i>Lacteos</a>
                        <a href="TGolosinas.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-candy-cane"></i>Golosinas</a>
                        <a href="TAseo.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-soap"></i>Aseo</a>
                        <a href="TLicores.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-martini-glass-citrus"></i>Licores</a>
                        <a href="TDespensa.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-bowl-food"></i>Despensa</a>
                    </li>
                    <!--MENU PARTE3-->
                    <li class="menu-title">Herramientas</li><!-- /.menu-title -->
                    <li class="menu-item-has-children">
                        <a href="usuario.html"> <i class="menu-icon fa-solid fa-user-tie"></i>Usuario</a>
                        <a href="Rol.html"> <i class="menu-icon fa-solid fa-user-gear"></i>Rol</a>
                        <a href="Ventas.html" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa-solid fa-file-arrow-up"></i>Ventas</a>
                        <a href="Compras.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-file-arrow-down"></i>Compras</a>
                        <a href="Inventario.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-boxes-stacked"></i>Inventario</a>
                        <a href="Pedido.html" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa-solid fa-file-invoice-dollar"></i>Pedido</a>
                        <a href="Det_ped_inv.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-file-invoice"></i>Detalle Pedido</a>
                        <a href="Domicilio.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-motorcycle"></i>Domicilio</a>
                        <a href="Forma_pago.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-brands fa-cc-mastercard"></i>Forma De Pago</a>
                        <a href="Producto.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-bottle-water"></i>Producto</a>
                        <a href="Tipo_prod.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-prescription-bottle"></i>Tipo Producto</a>
                        <a href="proveedor.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-truck-field-un"></i>Proveedor</a>
                        <a href="Estado.html" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa-solid fa-thumbs-up"></i>Estado</a>
                        <a href="Graficos.html" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa-solid fa-chart-column"></i>Reportes</a>
                    </li>

                    <li class="menu-title">Extras</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="../Login.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-right-to-bracket"></i>Inicio Sesión</a>
                        <a href="../PROYECTO_ADMIN/usuario.html" aria-haspopup="true" aria-expanded="false"> <i
                                class="menu-icon fa-solid fa-user-check"></i>Registrarse</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href=""><img src="images/DatStoremastextoo.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href=""><img src="images/DatStorenigga.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                    aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>

                    <!--User panel left-->
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="user-avatar rounded-circle"
                                src="{% static 'images/avatar/leo-messi-seguira-barcelona-foto.jpg' %}"
                                alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="icon-menu fa-solid fa-user-lock"></i>Mi Perfil</a>
                            <a class="nav-link" href="../Login.html"><i
                                    class="icon-menu fa-solid fa-circle-xmark"></i>Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <!-- Widgets  -->
            <!-- /Widgets -->
            <!--  Traffic  -->
            <!--  /Traffic -->
            <div class="clearfix"></div>
            <!-- Orders -->
            <div class="col-12">
                <div class="row d-flex">
                    <div class="col-lg-5 col-xl-12">
                        <div class="card br-0">
                            <div class="card-body">
                                <div class="chart-container ov-h">
                                    <form class="f1 col-md-12">
                                        <h2>Registro De Datos</h2>
                                        <br>
                                        <div class="form">
                                            <input type="text" name="txtProveedor" id="txtProveedor" maxlength="3"
                                                pattern="[0-9]{0,3}"
                                                title="Solo puedes digitar 10 numeros para el proveedor" required>
                                            <label class="lbl" for="txtProveedor">
                                                <span class="txt">Proveedor</span>
                                            </label>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="txtNombre" id="txtNombre" maxlength="20"
                                                pattern="[A-Za-z\s]{0,20}+"
                                                title="Solo puedes digitar 20 letras para el nombre" required>
                                            <label class="lbl">
                                                <span class="txt">Nombre</span>
                                            </label>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="txtTelefono" id="txtTelefono" maxlength="10"
                                                pattern="[0-9]{10}"
                                                title="Solo puedes digitar 10 numeros para el telefono" required>
                                            <label class="lbl">
                                                <span class="txt">Telefono</span>
                                            </label>
                                        </div>
                                        <div class="form">
                                            <input type="email" name="txtCorreo" id="txtCorreo" pattern="{0,100}"
                                                title="Solo puedes digitar correos electronicos" required>
                                            <label class="lbl">
                                                <span class="txt">Correo Electronico</span>
                                            </label>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="txtDireccion" id="txtDireccion" pattern="{0,100}"
                                                title="Solo puedes digitar direciones" required>
                                            <label class="lbl">
                                                <span class="txt">Dirección</span>
                                            </label>
                                        </div>
                                        <br>
                                        <div class="selected">
                                            <div class="form-group">
                                                <label for="lb">Estado</label>
                                                <select name="estado" id="estado" class="sel form-control" required>
                                                    <option value="" selected>Seleccione</option>
                                                    <option value="1">Activo</option>
                                                    <option value="2">Inactivo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div id="button" class="selected">
                                            <a href="#" type="button" class="btn btn-success">Insertar</a>
                                            <a href="#" type="button" class="btn btn-primary">Consultar</a>
                                            <a href="#" type="button" class="btn btn-warning">Modificar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- /.card -->
                    </div>
                </div>
            </div> <!-- /.col-md-4 -->
            <footer class="site-footer">
                <div class="footer-inner bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            Copyright &copy; 2022 DatStore
                        </div>
                    </div>
                </div>
            </footer>
            <div class="modal fade none-border" id="event-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>Add New Event</strong></h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect"
                                data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success save-event waves-effect waves-light">Create
                                event</button>
                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light"
                                data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#event-modal -->
            <!-- Modal - Calendar - Add Category -->
            <div class="modal fade none-border" id="add-category">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>Add a category </strong></h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Category Name</label>
                                        <input class="form-control form-white" placeholder="Enter name" type="text"
                                            name="category-name" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Choose Category Color</label>
                                        <select class="form-control form-white" data-placeholder="Choose a color..."
                                            name="category-color">
                                            <option value="success">Success</option>
                                            <option value="danger">Danger</option>
                                            <option value="info">Info</option>
                                            <option value="pink">Pink</option>
                                            <option value="primary">Primary</option>
                                            <option value="warning">Warning</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect"
                                data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger waves-effect waves-light save-category"
                                data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#add-category -->
        </div>
        <!-- .animated -->
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2022 DatStore
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Footer -->

    <!-- /.site-footer -->
    </div>
    </div>
    </div>
    <!-- /.orders -->
    <!-- To Do and Live Chat -->
    <!-- /To Do and Live Chat -->
    <!-- Calender Chart Weather  -->
    <!-- /Calender Chart Weather -->
    <!-- Modal - Calendar - Add New Event -->

    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="assets/js/main.js"></script>

    <!--  Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <!--Chartist Chart-->
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/init/weather-init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="assets/js/init/fullcalendar-init.js"></script>

    <!--Local Stuff-->
    <script>
        jQuery(document).ready(function ($) {
            "use strict";

            // Pie chart flotPie1
            var piedata = [
                { label: "Desktop visits", data: [[1, 32]], color: '#5c6bc0' },
                { label: "Tab visits", data: [[1, 33]], color: '#ef5350' },
                { label: "Mobile visits", data: [[1, 35]], color: '#66bb6a' }
            ];

            $.plot('#flotPie1', piedata, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        innerRadius: 0.65,
                        label: {
                            show: true,
                            radius: 2 / 3,
                            threshold: 1
                        },
                        stroke: {
                            width: 0
                        }
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                }
            });
            // Pie chart flotPie1  End
            // cellPaiChart
            var cellPaiChart = [
                { label: "Direct Sell", data: [[1, 65]], color: '#5b83de' },
                { label: "Channel Sell", data: [[1, 35]], color: '#00bfa5' }
            ];
            $.plot('#cellPaiChart', cellPaiChart, {
                series: {
                    pie: {
                        show: true,
                        stroke: {
                            width: 0
                        }
                    }
                },
                legend: {
                    show: false
                }, grid: {
                    hoverable: true,
                    clickable: true
                }

            });
            // cellPaiChart End
            // Line Chart  #flotLine5
            var newCust = [[0, 3], [1, 5], [2, 4], [3, 7], [4, 9], [5, 3], [6, 6], [7, 4], [8, 10]];

            var plot = $.plot($('#flotLine5'), [{
                data: newCust,
                label: 'New Data Flow',
                color: '#fff'
            }],
                {
                    series: {
                        lines: {
                            show: true,
                            lineColor: '#fff',
                            lineWidth: 2
                        },
                        points: {
                            show: true,
                            fill: true,
                            fillColor: "#ffffff",
                            symbol: "circle",
                            radius: 3
                        },
                        shadowSize: 0
                    },
                    points: {
                        show: true,
                    },
                    legend: {
                        show: false
                    },
                    grid: {
                        show: false
                    }
                });
            // Line Chart  #flotLine5 End
            // Traffic Chart using chartist
            if ($('#traffic-chart').length) {
                var chart = new Chartist.Line('#traffic-chart', {
                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                    series: [
                        [0, 18000, 35000, 25000, 22000, 0],
                        [0, 33000, 15000, 20000, 15000, 300],
                        [0, 15000, 28000, 15000, 30000, 5000]
                    ]
                }, {
                    low: 0,
                    showArea: true,
                    showLine: false,
                    showPoint: false,
                    fullWidth: true,
                    axisX: {
                        showGrid: true
                    }
                });

                chart.on('draw', function (data) {
                    if (data.type === 'line' || data.type === 'area') {
                        data.element.animate({
                            d: {
                                begin: 2000 * data.index,
                                dur: 2000,
                                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                                to: data.path.clone().stringify(),
                                easing: Chartist.Svg.Easing.easeOutQuint
                            }
                        });
                    }
                });
            }
            // Traffic Chart using chartist End
            //Traffic chart chart-js
            if ($('#TrafficChart').length) {
                var ctx = document.getElementById("TrafficChart");
                ctx.height = 150;
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                        datasets: [
                            {
                                label: "Visit",
                                borderColor: "rgba(4, 73, 203,.09)",
                                borderWidth: "1",
                                backgroundColor: "rgba(4, 73, 203,.5)",
                                data: [0, 2900, 5000, 3300, 6000, 3250, 0]
                            },
                            {
                                label: "Bounce",
                                borderColor: "rgba(245, 23, 66, 0.9)",
                                borderWidth: "1",
                                backgroundColor: "rgba(245, 23, 66,.5)",
                                pointHighlightStroke: "rgba(245, 23, 66,.5)",
                                data: [0, 4200, 4500, 1600, 4200, 1500, 4000]
                            },
                            {
                                label: "Targeted",
                                borderColor: "rgba(40, 169, 46, 0.9)",
                                borderWidth: "1",
                                backgroundColor: "rgba(40, 169, 46, .5)",
                                pointHighlightStroke: "rgba(40, 169, 46,.5)",
                                data: [1000, 5200, 3600, 2600, 4200, 5300, 0]
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        }

                    }
                });
            }
            //Traffic chart chart-js  End
            // Bar Chart #flotBarChart
            $.plot("#flotBarChart", [{
                data: [[0, 18], [2, 8], [4, 5], [6, 13], [8, 5], [10, 7], [12, 4], [14, 6], [16, 15], [18, 9], [20, 17], [22, 7], [24, 4], [26, 9], [28, 11]],
                bars: {
                    show: true,
                    lineWidth: 0,
                    fillColor: '#ffffff8a'
                }
            }], {
                grid: {
                    show: false
                }
            });
            // Bar Chart #flotBarChart End
        });
    </script>
</body>

</html>