{% extends 'base.html' %}
{% block content %}
<title>Aseo</title>
<div class="content">
    <div class="orders">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex">
                    <div class="col-lg-5 col-xl-12">
                        <div class="card bg-flat-color-0">
                            <div class="card-body">
                                <div class="chart-container ov-h">
                                    <div class="row col d-flex">
                                        <div class="row col-12">
                                            <h4 class="text-center">{{ message }}</h4>
                                        </div>
                                        <div class="row col-10 mt-2">
                                            {% include 'productos/snippets/search.html' %}
                                        </div>
                                            {% if is_paginated %}
                                                <div class="mt-4 col-6">
                                                    <ul class="pagination">
                                                        {% if page_obj.has_previous %}
                                                            <li class="page-item">
                                                                <a href="?page={{page_obj.previous_page_number}}" class="page-link">Anterior</a>
                                                            </li>
                                                        {% else %}
                                                            <li class="page-item disabled">
                                                                <a href="#" class="page-link">Anterior</a>
                                                            </li>
                                                        {% endif %}
                                                        {% for i in paginator.page_range %}
                                                            <li class="page-item {% if page_obj.number == i %} active {% endif %}">
                                                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                                                            </li>
                                                        {% endfor %}
                                                        {% if page_obj.has_next %}
                                                            <li class="page-item">
                                                                <a href="?page={{page_obj.next_page_number}}" class="page-link">Siguiente</a>
                                                            </li>
                                                        {% else %}
                                                            <li class="page-item disabled">
                                                                <a href="#" class="page-link">Siguiente</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            
                                            {% include 'productos/snippets/list.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}