{% extends 'base.html' %}
{% block content %}
<title>Despensa</title>
<div class="content">
    <div class="orders">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex">
                    <div class="col-lg-5 col-xl-12">
                        <div class="card bg-flat-color-0">
                            <div class="card-body">
                                <div class="chart-container ov-h">
                                    <div class="row col d-flex">
                                        <div class="row col-12">
                                            <h4 class="text-center">{{ message }}</h4>
                                        </div>
                                        <div class="row col-10 mt-4">
                                            {% include 'productos/snippets/search.html' %}
                                        </div>
                                        {% include 'productos/snippets/list.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}