{% extends 'base.html' %}

{% block content %}
<div class="col-3">
 {% if product.image %}
  <img src="{{ product.image.url }}" alt="Imagen del producto"></img> 
 {% endif %}
</div>
<div class="col">
    <div class="h3 font-weight-bold text-succes">
        Producto agregado correctamente al carrtito de compras
    </div>
    <div class="">

        {{ product.name }}

    </div>
    <div class="font-weight-bold text-danger">
      ${{ product.costp }} 
    </div>
    <div class="">
      {{ product.stock }}
    </div>
</div>
{% endblock %}