{% extends 'base.html' %}


{% block content %}


{% if cart.products.exists %}
<style>
    .tbl {
        display: flex;
        margin-left: 5px;
    }

    .th {
        max-height: 100px;
        margin-top: 50px;
        margin-left: 20px;
    }
</style>

<div class="content">
    <div class="orders">
        <div class="row">
            <div class=" col-10 tbl">
                <div class="col-8 ">
                    <table class="table ">
                        <thead>
                            <tr class="">
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cp in cart.products_related %}
                            {% with product=cp.product %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <th>
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="Imagen del producto" width="60" height="60">
                                    {% endif%}
                                </th>
                                <th>
                                    <a href="{% url 'core:producto' product.slug %}">{{ product.name }}</a>
                                    {% include 'carts/snippets/remove.html' %}
                                </th>
                                <th>{{ cp.quantity }}</th>
                                <th>
                                    <span class="font-weigth-bold text-danger">{{ product.costp }}</span>
                                </th>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="th card col-4">
                    <div class="card-body">
                        <div class="ml-2">
                            subtotal({{ cart.products.count }}): <span class="text-danger">{{cart.subtotal}}</span>
                            <div>
                                <div>
                                    <a href="{% url 'orders:order' %}" class="btn-warning">Proceder con el pago </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="content">
                    <div class="orders">
                        <div class="row">
                            <div class="col-12">
                                <p class="h3">Tu carrito de compras está vacio :(</p>
                                <a class="btn btn-warning" href="{% url 'index' %}">Seguir comprando</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %} 