@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.form{
    width: 100%;
    height: 60px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    margin-left: 20px;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: black;
    padding-top: 20px;
    border: none;
    outline: 0px;
}
.form .lbl{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid blue;
}

.sel{
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid blue;
}

.form .lbl:after{
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-radius: 2px solid blue;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.txt{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: black;
}
.form input:focus + .lbl .txt,.form input:valid + .lbl .txt{
    transform: translateY(-120%);
    font-size: 14px;
    color: blue;
}
.form input:focus + .lbl:after, .form input:valid + .lbl:after{
    transform: translateX(0%);
}
@media only screen and (min-width:320px) and (max-width:768px){
 .form{
    width:85%;
    }
}

.selected{
    padding-left: 20px;
}