{% extends 'base.html' %}
{% block content %}
<title>Detalles Compra</title>
<div class="content">
    <div class="orders">
        <div class="row">
            <div class="card bg-flat-color-0 col-12">
                <div class="col-4 d-flex">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="Imagen del producto" width="250" height="250">
                    {% endif %}
                    <div class="card-body col-12">
                        <div class="chart-container">
                            <br>
                            <div class="h4 font-weight-bold">{{product.name}}</div>
                            <hr>
                            <div class="h5 font-weight-bold">Precio: <span class="text-info">${{product.costp}}</span></div>
                            <hr>
                            <div class="h6 font-weight-bold">Disponibles: <span class="text-danger"> {{product.stock}} </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}