{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="orders">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card bg-flat-color-0">
                            <div class="card-body col-12">
                                {% include 'productos/snippets/search.html' with query=query %}
                                <hr>
                                <p>Resultados para: {{ query }}</p>
                                {% for object in product_list %}
                                <div class="card-body col-3">
                                    {% include 'productos/snippets/product.html' with product=object %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}